SECRET_KEY=
ENV=development
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
DATABASE_URL=
REDIS_URL=
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WEBHOOK_SECRET_TOKEN=
ZOOM_REDIRECT_URI= 
ACCESS_TOKEN= 
SUPABASE_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=